# Rock and Mineral Clubs

Scrape all of the rock and mineral clubs listed at https://rocktumbler.com/blog/rock-and-mineral-clubs/ (but don't just cut and paste!)

Save a CSV called `rock-clubs.csv` with the name of the club, their URL, and the city they're located in.

**Bonus**: Add a column for the state. There are a few ways to do this, but knowing that `element.parent` goes 'up' one element might be helpful.

* _**Hint:** The name of the club and the city are both inside of td elements, and they aren't distinguishable by class. Instead you'll just want to ask for all of the tds and then just ask for the text from the first or second one._
* _**Hint:** If you use BeautifulSoup, you can select elements by attributes other than class or id._

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

In [3]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'
}

response = requests.get('https://rocktumbler.com/blog/rock-and-mineral-clubs/', headers=headers)
doc = BeautifulSoup(response.text)

In [71]:
article = doc.find("article")
tables = article.find_all("td")

In [72]:
clubs = []
for table in tables:
    elements = table.find_all("a")
    for element in elements:
        club = {}
        club['name'] = element.text
        club['city'] = element.parent.find_next("td").string
        club['link'] = element["href"]
        clubs.append(club)

In [73]:
df = pd.DataFrame(clubs)

In [74]:
df.head()

,city,link,name
0,Birmingham,http://www.lapidaryclub.com/,Alabama Mineral & Lapidary Society
1,Dothan,http://www.wiregrassrockhounds.com/,Dothan Gem & Mineral Club
2,Huntsville,http://huntsvillegms.org/,Huntsville Gem and Mineral Society
3,Mobile,http://www.mobilerockandgem.com/,Mobile Rock & Gem Society
4,Montgomery,http://montgomerygemandmineralsociety.com/mgms/,Montgomery Gem & Mineral Society

In [75]:
df.to_csv("rock-clubs.csv",index=False)